.section-about-and-ratings {
    padding: 3rem 8rem;
}

.section-about {
    margin-right: 16rem;
    
    .text {
        color: $dark-grayish-magenta;
        font-size: $default-font-size;
    }
}

.section-ratings {
    padding-top: 3rem;    
}

.section-story {
    padding: 3rem 8rem;
}
