body {
    font-family: 'Spartan';
    font-weight: 400;
}

.header-primary {
    color: $color-primary;
    font-weight: 700;
    font-size: 5rem;
    
    @include respond (tab-land) {
        font-size: 4rem;
    }

    @include respond (tab-port) {
        text-align: center;
        margin: 0 1rem;
    }
}
