// Colors
$color-primary: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// Font sizes
$default-font-size: 1.5rem;

// Rows
$gutter-horizontal: 4rem;
$gutter-horizontal-small: 2.5rem;
$gutter-vertical: 2rem;
$step-margin: 2rem;
